extends layout

block content
  h1= title
  hr

  ul(class='list')
    each summit in summit_list
      li
        a(href=`${summit.url}`) #{summit.name}
        |  -- (#{summit.date_formatted})

    else
      li There are no summits to list.